<ul class="al-msg-center clearfix">
  <li class="dropdown">
    <a href class="dropdown-toggle" id="msg-dd1" data-toggle="dropdown" aria-expanded="false">
      <button type="button" class="btn btn-default">功能</button>
    </a>

    <div class="top-dropdown-menu dropdown-menu" aria-labelledby="msg-dd1">
      <i class="dropdown-arr"></i>

      <div class="auth-sep1">
        <button type="button" class="btn btn-default" routerLink="/pages/dashboard">操作說明</button><br>
        <button type="button" class="btn btn-default" routerLink="/pages/dashboard">網站地圖</button><br>
        <button type="button" class="btn btn-default" routerLink="/pages/dashboard">連絡窗口</button><br>
        <button type="button" class="btn btn-default" routerLink="/pages/dashboard">回首頁</button><br>
        <button type="button" class="btn btn-default" routerLink="/login">登出</button>
      </div>
    </div>
  </li>
</ul>
