
          <div class="input-group">
            <span class="input-group-addon input-group-addon-primary">
            MCH2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
            </span>
            <select class="form-control with-primary-addon" id="exampleSelect1">
              <option>全部</option>
           </select>
          </div>
           
          <div class="input-group"> 
           <span class="input-group-addon input-group-addon-primary">
            MCH1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
            </span>
            <select class="form-control with-primary-addon" id="exampleSelect1">
              <option>全部</option>
           </select>
        </div><br>
        
        <div class="col-sm-5">
        <div class="form-group">
          <label for="exampleSelect2">未選項目</label><br>
          <a> &nbsp;&nbsp;</a>
          <select multiple class="form-control" id="exampleSelect2">
            <option value="001">001 - 油漆/防水</option>
            <option value="002">002 - 膠類</option>
            <option value="003">003 - 窗飾/壁飾</option>
            <option value="004">004 - 系統傢俱</option>
            <option value="005">005 - 地材</option>
          </select>
        </div>
        </div>
      
        <div class="col-sm-2">
          <a> &nbsp;&nbsp;</a><br>
          <a> &nbsp;&nbsp;</a><br>
          <button><&nbsp;&nbsp;</button><br>  
          <button><<</button><br>  
          <button>&nbsp;&nbsp;></button><br>
          <button>>></button> 
        </div>
        
        <div class="col-sm-5">
        <div class="form-group">
          <label for="exampleSelect1">已選項目</label><br>
          <a>(限制僅可挑選同一階層)</a>
          <select multiple class="form-control" id="exampleSelect1">
          </select>
        </div>
        </div>