<ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item "><a routerLink="/pages/charts/commodityManagement">出貨管理</a></li>
    <li class="breadcrumb-item active">可接單量調整申請</li>
</ul>

<section class="chartist">
  <div class="row">
   <h4>可接單量調整申請/查詢</h4>
    <div class="col-md-12">
      <ba-card title="查詢條件設定" baCardClass="with-scroll">

          <div class="input-group">
            <span class="input-group-addon input-group-addon-primary" >商品編號&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
            <input type="text" class="form-control with-primary-addon" id="input01" placeholder="Text" >
            <span class="input-group-addon input-group-addon-primary" >至</span>
            <input type="text" class="form-control with-primary-addon" id="input01" placeholder="Text" >
          </div>

          <div class="input-group">
            <span class="input-group-addon input-group-addon-primary" >廠商料號&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
            <input type="text" class="form-control with-primary-addon" id="input01" placeholder="Text" >
          </div>

          <div class="input-group">
            <span class="input-group-addon input-group-addon-primary" >商品名稱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
            <input type="text" class="form-control with-primary-addon" id="input01" placeholder="Text" >
          </div>

          <div class="input-group">
            <span class="input-group-addon input-group-addon-primary">通路&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
               <select class="form-control with-primary-addon" id="exampleSelect1">
                  <option>全部</option>
                  <option>HOLA</option>
                  <option>TWL</option>
               </select>
          </div>

          <div class="input-group">
            <span class="input-group-addon input-group-addon-primary">申請狀態&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
               <select class="form-control with-primary-addon" id="exampleSelect1">
                  <option>全部</option>
                  <option>未申請</option>
                  <option>申請中</option>
                  <option>已駁回</option>
               </select>
          </div>

          <div class="input-group">
            <span class="input-group-addon input-group-addon-primary" >檔案來源&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <span class="input-group-addon input-group-addon-primary">
            <a href="http://tlwtst.testritegroup.com/excelsample/orderqty_mt_import.xls" target="_blank_">格式下載</a> 
            *請上傳.xls檔案</span>
          </div>

      </ba-card>
    </div>
  </div>
</section>

<div>
      <button routerLink="/pages/dashboard"  type="submit" class="btn btn-default btn-xm ">查詢</button>
      <button routerLink="/pages/dashboard" type="submit" class="btn btn-default btn-xm ">清除</button>
      <button routerLink="/pages/dashboard" type="submit" class="btn btn-default btn-xm ">匯入</button>
</div><br>