<ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item "><a routerLink="/pages/charts/order">訂貨單</a></li>
    <li class="breadcrumb-item active">委外加工單</li>
    <li class="breadcrumb-item "><a routerLink="/pages/editors/message-contact">廠送PO單</a></li>
    <li class="breadcrumb-item "><a routerLink="/pages/editors/message-contact">驗收單</a></li>
    <li class="breadcrumb-item "><a routerLink="/pages/editors/message-contact">退貨通知單</a></li>
    <li class="breadcrumb-item "><a routerLink="/pages/editors/message-contact">退貨單</a></li>
    <li class="breadcrumb-item "><a routerLink="/pages/editors/message-contact">越庫訂貨單</a></li>
    <li class="breadcrumb-item "><a routerLink="/pages/editors/message-contact">越庫退貨單</a></li>
    <li class="breadcrumb-item "><a routerLink="/pages/editors/message-contact">越庫調撥查詢</a></li>
    <li class="breadcrumb-item "><a routerLink="/pages/editors/message-contact">訂貨單商品成本價格查詢</a></li>
</ul>

<section class="chartist">
  <div class="row">
   <h4>委外加工單</h4>
    <div class="col-md-12">
      <ba-card title="查詢條件設定" baCardClass="with-scroll">

          <div class="input-group">
            <div class="col-md-3">
              <label for="input01">排序方式:</label>
            </div>

            <div class="col-md-4">
               <select class="form-control with-primary-addon" id="exampleSelect1">
                 <option>訂單編號</option>
                 <option>收貨店別</option>
                 <option>廠商編號+訂單編號</option>
                 <option>廠商編號+收貨店別</option>
               </select>
            </div>
            <div class="input-demo radio-demo row">
                <div class="col-md-4">
                  <label class="radio-inline custom-radio nowrap">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <span>未開啟訂單(含修改之訂單)</span>
                  </label>
                </div><br>
                <div class="col-md-4">
                  <label class="radio-inline custom-radio nowrap">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span>訂單進階查詢</span>
                  </label>
                </div>
            </div>
          </div>

          <div class="input-group">
            <div class="col-md-3">
              <label for="input01">1. 廠商編號:</label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control with-success-addon">
            </div>
            <div class="col-md-1">
              <span class="input-group-addon">
                <button class="btn btn-danger" type="button" (click)="number.open()">請選擇</button>
              </span>
            </div>
          </div>

          <div class="input-group">
              <div class="col-md-3">
                <label for="input01">2. 訂單編號:</label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" id="input01" placeholder="Text" >
              </div>
              <div class="col-md-1"> 
                <span class="input-group-addon" >至</span>
              </div>  
              <div class="col-md-3">
                <input type="text" class="form-control" id="input01" placeholder="Text" >
              </div>  
          </div>

          <div class="input-group">
              <div class="col-md-3">
                <label for="input01">
                    3.
                      <select class=" with-primary-addon" id="exampleSelect1">
                        <option>下單日期</option>
                        <option>預計交貨日</option>
                      </select>
                    :
                </label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" id="input01" placeholder="Text" >
              </div>
              <div class="col-md-1"> 
                <span class="input-group-addon" >至</span>
              </div>  
              <div class="col-md-3">
                <input type="text" class="form-control" id="input01" placeholder="Text" >
              </div>  
          </div>

          <div class="input-group">
            <div class="col-md-3">
              <label for="input01">4. 收貨店別:</label>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control with-success-addon">
            </div>
            <div class="col-md-1">
              <span class="input-group-addon">
                <button class="btn btn-danger" type="button" (click)="store.open()">請選擇</button>
              </span>
            </div>
          </div>
      </ba-card>
    </div>
  </div>
</section>

<div>
      <button routerLink="/pages/dashboard"  type="submit" class="btn btn-default btn-xm ">查詢</button>
      <button routerLink="/pages/dashboard" type="submit" class="btn btn-default btn-xm ">列印</button>
      <button routerLink="/pages/dashboard" type="submit" class="btn btn-default btn-xm ">清除</button>
</div>


<!-- 彈出視窗 -->
    <modal (onClose)="navigate()" (onOpen)="opened()" [cssClass]="cssClass" #number>
        <modal-header [show-close]="true">
            <h4 class="modal-title">請勾選供應商</h4>
        </modal-header>
        <modal-body>
          <table class="table table-bordered">
            <thead>
                <tr>
                  <td >
                      <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
                        <span></span>
                      </label>
                  </td>
                  <th> 廠商編號 </th>
                  <th> 廠商名稱 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td >
                      <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                        <span></span>
                      </label>
                  </td>
                  <td>0000171139</td>
                  <td >臺灣明尼蘇達礦業製造股份有限公司</td>    
                </tr>
                <tr>
                  <td >
                      <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <span></span>
                      </label>
                  </td>
                  <td> 0000179222</td>
                  <td > 臺灣明尼蘇達礦業製造股份有限公司</td>    
                </tr>
                <tr>
                  <td >
                      <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option3">
                        <span></span>
                      </label>
                  </td>
                  <td> 0000182246</td>
                  <td > 臺灣明尼蘇達礦業製造股份有限公司</td>    
                </tr>
                <tr>
                  <td >
                      <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
                        <span></span>
                      </label>
                  </td>
                  <td>0000192009</td>
                  <td > 臺灣明尼蘇達礦業製造股份有限公司</td>           
                </tr>
            </tbody>
          </table>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="number.dismiss()">確定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="number.dismiss()">清除</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="number.dismiss()">關閉</button>
        </modal-footer>
    </modal>

    <modal (onClose)="navigate()" (onOpen)="opened()" [cssClass]="cssClass" #store>
        <modal-header [show-close]="true">
            <h4 class="modal-title">請勾選店別</h4>
        </modal-header>
        <modal-body>
          <details>
            <summary>
               <span>99 共用配銷通路(2)</span>
            </summary>
            <div class="row">
            <div class="col-md-4">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
              <span>全選</span>
            </label>
            </div>
            <div class="col-md-4">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
              <span>1W97 總部店號(紅利點數)</span>
            </label>
            </div>
            <div class="col-md-4">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
              <span>1W99 總部店號</span>
            </label>
            </div>
            </div>
          </details>

          <details>
            <summary>
               <span>A0 TLW(36)</span>
            </summary>
            <div class="row">
            <div class="col-md-4">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
              <span>全選</span>
            </label>
            </div>
            <div class="col-md-4">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
              <span>1A01 TLW南崁店</span>
            </label>
            </div>
            <div class="col-md-4">  
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
              <span>1A02 TLW新莊店</span>
            </label>
            </div>
            <div class="col-md-4">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
              <span>1A03 TLW大順店</span>
            </label>
            </div>
            <div class="col-md-4">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="all">
              <span>1A04 TLW台中店</span>
            </label>
            </div>
            </div>
          </details>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="store.dismiss()">確定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="store.dismiss()">清除</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="store.dismiss()">關閉</button>
        </modal-footer>
    </modal>