@import "../../../../theme/sass/conf/conf";

.table-fixed {
  table-layout: fixed;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #000000;
}

.table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
  border-top: 0
}

.table > tbody + tbody {
  border-top: 2px solid #000000;
}

.table-bordered {
  border: 1px solid #000000;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #000000;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}