<ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item active">公告查詢</li>
</ul>
<section class="chartist">
  <div class="row">
   <h4>公告查詢</h4>
    <div class="col-md-12">
      <ba-card title="查詢條件設定" baCardClass="with-scroll">
      <div class="input-group">
        <span class="input-group-addon input-group-addon-primary" >1.公告日期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    	<input type="text" class="form-control with-primary-addon" id="input01" placeholder="Text" >
    	<span class="input-group-addon input-group-addon-primary" >至</span>
    	<input type="text" class="form-control with-primary-addon" id="input01" placeholder="Text" >
  	  </div>
  	  <div class="input-group">
  		<span class="input-group-addon input-group-addon-primary" >2.公告類型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
  		<select class="form-control with-primary-addon" id="exampleSelect1">
    		<option>全部</option>
    		<option>廠商須知</option>
    		<option>新店公告</option>
    		<option>財務公告</option>
 		 </select>
	  </div>
	  <div class="input-group">
  		<span class="input-group-addon input-group-addon-primary" >3.重要度&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
  		<select class="form-control with-primary-addon" id="exampleSelect1">
    		<option>全部</option>
    		<option>一般</option>
    		<option>重要</option>
 		 </select>
	  </div>
	  <div class="input-group">
  		<span class="input-group-addon input-group-addon-primary" >4.是否閱讀&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
  		<select class="form-control with-primary-addon" id="exampleSelect1">
    		<option>全部</option>
    		<option>未閱讀</option>
    		<option>已閱讀</option>
 		 </select>
	  </div>
	  <div class="input-group">
        <span class="input-group-addon input-group-addon-primary" >5.標題關鍵字&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    	<input type="text" class="form-control with-primary-addon" id="input01" placeholder="Text" >
  	  </div>
      </ba-card>
    </div>
  </div>
</section>
